[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
serve = "python app.py"

[packages]
numpy = "*"
scipy = "*"
librosa = "*"
sounddevice = "*"
aiohttp = "*"
aiohttp-jinja2 = "*"
python-socketio = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"
python-dotenv = "*"

[requires]
python_version = "3.8"
