{% extends 'layouts/base.html' %}

{% block title %}{{ analyzer_name | safe }}{% endblock %}

{% block head %}
<script src="/dist/bundle.js"></script>
{% endblock %}

{% block content %}
<div id="container" class="container-fluid">
    {% block control_panel %}
    <div id="control_panel" class="m-3">
    </div>
    {% endblock %}

    {% block visualizer %}{% endblock %}
</div>

<script>
    (function () {
        const controls = {};

        function onChangeValue(control) {
            const properties = {};
            properties[control.name] = control.value;
            analyzer.setProperties(properties);
        }

        analyzer.connect('{{ analyzer_name }}');
        analyzer.on('define_properties', function (properties) {
            const panel = document.getElementById('control_panel');

            for (const property_name in properties) {
                if (property_name in controls) continue;

                const info = properties[property_name];



                let control;
                switch (info.detail.type) {
                    case "str": {
                        control = new c5l.StringPropertyControl(
                            property_name,
                            info.value,
                            info.detail,
                            onChangeValue,
                        );
                        break;
                    }
                    case "int": {
                        control = new c5l.IntegerPropertyControl(
                            property_name,
                            info.value,
                            info.detail,
                            onChangeValue,
                        );
                        break;
                    }
                    case "float": {
                        control = new c5l.NumberPropertyControl(
                            property_name,
                            info.value,
                            info.detail,
                            onChangeValue,
                        );
                        break;
                    }
                    case "bool": {
                        control = new c5l.BooleanPropertyControl(
                            property_name,
                            info.value,
                            info.detail,
                            onChangeValue,
                        );
                        break;
                    }
                    default:
                        throw new Error(`Unknown property type '${info.detail.type}'`);
                }

                panel.appendChild(control.element);
                controls[property_name] = control;
            }
        });
        analyzer.on('properties', function (properties) {
            for (const property_name in properties) {
                if (property_name in controls) {
                    const value = properties[property_name];
                    const control = controls[property_name];

                    control.value = value;
                }
            }
        });
        analyzer.on('error', function (message) {
            const pre = document.createElement('pre');
            pre.textContent = message;

            const container = document.getElementById('container');
            container.insertBefore(pre, container.firstChild);
        });
    })();
</script>
{% block listener %}{% endblock %}
{% endblock %}