{% extends 'layouts/base.html' %}

{% block title %}{{ analyzer_name | safe }}{% endblock %}

{% block content %}
{% block visualizer %}{% endblock %}

<script src="https://cdn.socket.io/3.1.1/socket.io.min.js"></script>
<script>
    class Analyzer extends EventTarget {
        constructor() {
            super();
        }
    };
    var analyzer = new Analyzer;
    {
        let socket = io();
        socket.on('connect', function () {
            console.log('Connect', socket.id);
            socket.emit('start_analysis', '{{ analyzer_name }}');
        });
        socket.on('disconnect', function () {
            console.log('Disconnect', socket.id);
        });
        socket.on('properties', function (data) {
            console.log('Properties', data);
        });
        socket.on('results', function (data) {
            console.log('Results', data);
        });
    }
</script>
{% block listener %}{% endblock %}
{% endblock %}